.signupBody{
    min-height: 100vh;
    min-width: 100vw;
    background: url("/login-signup-back.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.signupWrapper{
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    height: 500px;
    width: 400px;
    backdrop-filter: blur(5px);
    background: transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

}