@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: rgb(24, 27, 41);
}

ul li{
    list-style: none;
}
body {
    overflow: hidden;
    background-color: var(--primary-background);
}

bodu::-webkit-scrollbar-track{
    width: 5px;
    background-color: transparent;

}